body {
  font-family: Georgia, serif;
  line-height: 1.4;
  margin: 3em;
	color: #00CC99;
}



/* Step 1: First make all the anchors on the page #FFA7C0 */


/* Step 2: Then make the anchors within the header nav #D16121 */


/* Step 3: Lastly, make the anchors in the footer nav #FFE540 */